/* Login/Signup forms*/

* {
  box-sizing: border-box;
}



.login-signup-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .form {
        width: 360px;
        position: relative;
        z-index: 1;
        background: #ffffff;
        max-width: 360px;
        padding: 34px;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
        overflow: auto;

        .title {
            font-size: 20px;
            margin-bottom: 1rem;
            text-align: center;
        }

        .alert {
            padding: 1rem;
            background-color: #ff4040;
            color: white;
            border-radius: 0.5rem;
            margin-bottom: 1rem;
            display: block;
        }

        .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 16px;
            text-align: center;

            a {
                color: black;
                text-decoration: none;
            }
        }

        input {
            outline: 0;
            background: #ffffff;
            width: 100%;
            border: 2px solid #e6e6e6;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 16px;
            transition: all 0.3s;
            font-family: "Gabarito", sans-serif;
        }

        input:focus {
            border-color: black;
        }

        .btn {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: black;
            border: 0;
            text-decoration: none;
            padding: 15px;
            color: #ffffff;
            font-size: 16px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }

        .btn-disabled {
            background-color: black;
            opacity: 0.5;
            cursor: not-allowed;
        }

        .btn-enabled {
            background-color: black;
        }

        .btn-block {
            width: 100%;
        }

        .btn:hover,
        .btn:active,
        .btn:focus {
            background: #141415;
        }
    }
}


@media only screen and (min-height: 0px) {
    .login-signup-form {
        align-items: normal;
    }
}

@media only screen and (min-height: 610px) {
    .login-signup-form {
        align-items: center;
    }
}
