.wrap-dashboard {
    padding-top: 55px;
    padding-bottom: 10px;
    overflow: auto;
}

.kontener {
    width: calc(100% - 22px);
}

@media (min-width: 768px) {
    .kontener {
        width: 680px;
    }
}

@media (min-width: 1125px) {
    .wrap-dashboard {
        padding-top: 70px;
    }
    .kontener {
        width: 900px;
    }
}

// .btn-custom {
//     background: var(--navbar-dark-secondary);
//     font-family: "Roboto", sans-serif;
//     outline: 0;
//     border: 0;
//     text-decoration: none;
//     padding: 15px;
//     color: #ffffff;
//     font-size: 16px;
//     transition: all 0.3 ease;
//     cursor: pointer;
// }

// .bg-carousel-dashboard {
//     background-image: url('https://jurnal-assets.s3.ap-southeast-1.amazonaws.com/images/highlights/highlights_background.png');
//     background-repeat: no-repeat;
//     background-position: bottom 0 right 0;
//     background-size: contain;
// }
