.wrap-default-layout {
    margin-left: 69px;
}

@media (min-width: 700px) {
    .wrap-default-layout {
        margin-left: 75px;
    }
}

@media (min-width: 1025px) {
    .wrap-default-layout {
        margin-left: 275px;
    }
}
