@import url("https://fonts.googleapis.com/css2?family=Gabarito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html,
body,
#root,
#defaultLayout,
#guestLayout {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
    font-family: "Gabarito", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #212121;
    background-color: #f6f6f6;
    font-weight: 600;
}

:root {
    --background: #f6f6f6;
    --navbar-width: 250px;
    --navbar-width-min: 60px;
    --navbar-dark-primary: #18283b;
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: #8392a5;
}

.notification {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 100;
    padding: 1rem 1.5rem;
    color: white;
    border-radius: 0.5rem;
}

.success {
    background-color: #00a762;
}

.info {
    background-color: #1900a7;
}

.warning {
    background-color: #b1c60f;
}

.danger {
    background-color: #c60f12;
}

input {
  outline: 0;
  background: #ffffff;
  width: 100%;
  border: 2px solid #e6e6e6;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  transition: all 0.3s;
  font-family: "Gabarito", sans-serif;
}

input:focus {
  border-color: black;
}

.btn {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: black;
  border: 0;
  text-decoration: none;
  padding: 15px;
  color: #ffffff;
  font-size: 16px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.btn-disabled {
    background-color: black;
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-enabled {
    background-color: black;
}

.btn-block {
  width: 100%;
}

.btn:hover,
.btn:active,
.btn:focus {
  background: #141415;
}

.text-center {
  text-align: center;
}

.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
