.wrap-report {
    padding-top: 65px;
    padding-bottom: 10px;
    overflow: auto;
}

.kontener-report {
    width: calc(100% - 23px);
    min-height: 100vh;
    overflow: auto;
}



@media (min-width: 768px) {
    .wrap-report {
        padding-top: 80px;
    }
    .kontener-report {
        width: 680px;
    }
}

@media (min-width: 1125px) {
    .kontener-report {
        width: 1000px;
    }
}


