.wrap-sales {
    padding-top: 65px;
    padding-bottom: 10px;
    overflow: auto;
}

.kontener-sales {
    width: calc(100% - 23px);
    min-height: 100vh;
    overflow: auto;
}



@media (min-width: 768px) {
    .kontener-sales {
        width: calc(680px - 20px);
        padding: 0 2px 0 2px;
    }
}

@media (min-width: 900px) {
    .kontener-sales {
        width: 800px;
    }
}

@media (min-width: 1025px) {
    .wrap-sales {
        padding-top: 80px;
    }
    .kontener-sales {
        width: 740px;
    }
}

@media (min-width: 1230px) {
    .kontener-sales {
        width: 900px;
    }
}

@media (min-width: 1280px) {
    .kontener-sales {
        width: calc(1000px - 20px);
    }
}
