.wrap-dashboard {
    padding-top: 55px;
    padding-bottom: 10px;
    overflow: auto;
}

.kontener {
    width: calc(100% - 22px);
    min-height: 100vh;
}

@media (min-width: 768px) {
    .kontener {
        width: 680px;
    }
}

@media (min-width: 1125px) {
    .wrap-dashboard {
        padding-top: 70px;
    }
    .kontener {
        width: 900px;
    }
}
